<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head th:replace="fragments/headerfiles :: baseHead(~{::title})">
    

    <title>EmpleosApp | Aplicación para publicar Ofertas de Trabajo.</title>
    
  </head>

  <body>

    <header th:insert="fragments/menu :: menu-principal">
   
    </header>

    <main role="main">

      
      <div class="jumbotron">
        <div class="container">
          <h3>Encuentra el trabajo que deseas.</h3>
           Busca por descripción y/o categoría.
          <form class="form-inline" th:action="@{/search}" method="get" th:object="${search}">
            <input type="text" class="form-control mb-3" th:field="*{descripcion}" placeholder="Escriba una búsqueda">&nbsp;
            <select th:field="*{categoria.id}" class="custom-select custom-select mb-3">
              <option th:value="${null}" selected>Selecciona una categoría</option>
              <option th:each="categoria : ${categorias}" 
                      th:value="${categoria.id}" 
                      th:text="${categoria.nombre}" ></option>
            </select>&nbsp;
            <button type="submit" class="btn btn-primary mb-3">Buscar</button>
          </form>
        </div>
      </div>
      <hr>
      <div th:if="${msg != null}" class='alert alert-success' th:text="${msg}" role='alert'></div>
      <div class="container"> 
        <h2 class="font-weight-bold text-center text-capitalize">DESTACADOS</h2>
        <hr>
        <div class="row" th:each="vacante : ${vacantes}">
          <div class="col-md-3">            
            <img href="/home/alexis/Proyectos/Personal/Empleos-app/proyecto/src/main/resources/static/images/empleo.jpg" width="220" height="220">
          </div>
          <div class="col-md-9">
            <h2 th:text="${vacante.nombre}"></h2>
            <h6 class="card-title"><strong>Categoría: </strong> <span th:text="${vacante.categoria.nombre}"></span></h6>
            <h6 class="card-title"><strong>Publicado: </strong> <span th:text="${vacante.fecha}" ></span></h6>                
            <p th:text="${vacante.descripcion}"> </p>
            <p><a class="btn btn-secondary" th:href="@{/vacantes/view/{id} (id=${vacante.id} ) }" role="button">Ver Detalles &raquo;</a></p>            
          </div>
        </div>  
        </hr>
      </div> <!-- /container -->

    </main>

    <footer th:insert="fragments/footer :: pie-pagina" class="footer">
      
    </footer>
  
    <th:block th:include="fragments/scripts :: scripts"></th:block>
  </body>
</html>

